section.section.section-blog-block
	.container 
		.blog-block
			h2.h2.blog-block__title Блог
			.blog-block__list 
				.blog-block__item 
					.blog-block__schadow 
						.blog-block__top 
							.blog-block__img 
							p.blog-block__mark Онлайн курсы по маркетингу
						.blog-block__main 
							p.blog-block__name Топ-10 онлайн-курсов по интернет-маркетингу Топ-10 онлайн-курсов по интернет-маркетингу
							.blog-block__footer 
								p.blog-block__date 1 сентября
								a.btn.blog-block__btn(href="#") Подробнее
				.blog-block__item 
					.blog-block__schadow 
						.blog-block__top 
							.blog-block__img 
							p.blog-block__mark Онлайн курсы по маркетингу
						.blog-block__main 
							p.blog-block__name Топ-10 онлайн-курсов по интернет-маркетингу
							.blog-block__footer 
								p.blog-block__date 1 сентября
								a.btn.blog-block__btn(href="#") Подробнее
				.blog-block__item 
					.blog-block__schadow 
						.blog-block__top 
							.blog-block__img 
							p.blog-block__mark Онлайн курсы по маркетингу
						.blog-block__main 
							p.blog-block__name Топ-10 онлайн-курсов по интернет-маркетингу
							.blog-block__footer 
								p.blog-block__date 1 сентября
								a.btn.blog-block__btn(href="#") Подробнее