section.section.section-main-banner.bg-gray
	.container 
		.main-banner
			.main-banner__descr
				h1.main-banner__title Агрегатор онлайн-курсов
				p.main-banner__text Сравниваем онлайн-курсы по digital и IT.</br> Мы — каталог-отзовик курсов. Выбирайте курсы по отзывам, цене, продолжительности и другим критериям!
			.main-banner__img 
				img(src="./images/content/main-banner.svg", alt="")