// Colors
$white: #ffffff;
$black: #000000;

//breakpoints
$breakpoint_xs : 375px;
$breakpoint_xm : 576px;
$breakpoint_md : 768px;
$breakpoint_lg : 992px;
$breakpoint_xl : 1200px;

$content-size: 1225px;

// colors
$mainColor: #2b2b2b;
$mainBgColor: #fff;
$bgGray: #f6f6f6;
$linkColor: #2b2b2b;
$activeColor: #00D254;	
$borderColor: #EDEDED;
$inputColor: #b5b5b5;


//fonts
$mainFont: "OpenSans", sans-serif;
$mainFontSize: 14px;