@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";

html {
  font-size: $mainFontSize;
  height: 100%;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.4;
	font-family: $mainFont;
  color: $mainColor;
	background-color: $mainBgColor;
}

*,
*::before,
*::after { box-sizing: border-box; }

ul,
ol {
  list-style: none;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd { margin: 0; }

img {
  max-width: 100%;
  display: block;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
  color: $linkColor;
  font-weight: 500;
  transition: 0.3s;

  &:hover {
    color: $activeColor;
  }
}

input,
button,
textarea,
select { font: inherit; }

audio,
canvas,
iframe,
img,
svg,
video,
textarea { vertical-align: middle; }

textarea { resize: none; }

section { position: relative; }

input,
select,
button { outline: none; }

.bg-gray {
	background-color: $bgGray;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content { flex: 1 0 auto; }

.container {
  margin: 0 auto;
  max-width: $content-size;
  width: 100%;
	padding: 0 15px;
}
.section {
	padding: 60px 0;
}
.h2 {
	margin-bottom: 30px;
	font-size: 30px;
	text-align: center;
}
@import "modules/modules";
@import "media";