extends template/main

block variables
	- var title = 'Главная страница'
block content
	include modules/main-banner/main-banner
	include modules/advantages/advantages
	include modules/course-directions/course-directions
	include modules/schools-slider/schools-slider