mixin icon(name,mod)
	if(mod)
		svg(class="svg-icon svg-icon-" + name + ' ' + mod)
			use(xlink:href="images/svg/symbol/sprite.svg#" + name)
	else
		svg(class="svg-icon svg-icon-" + name)
			use(xlink:href="images/svg/symbol/sprite.svg#" + name)
