header.header 
	.container 
		.header-main 
			a.header-logo.logo(href="/") Logo
			nav.header__header-menu.header-menu
				ul.header-menu__list
					each item in [{link:'sourses.html',title:'Курсы'},{link:'#',title:'Школы'},{link:'#',title:'Отзывы о школах'},{link:'#',title:'Акции школ'},{link:'#',title:'Блог'}]
						li.header-menu__item
							a.header-menu__link(href=item.link)=item.title
			.header__action.header-action
				.header-action__compare-link.compare-link
					div.compare-link__icon 
						+icon('compare')
						span.compare-link__counter 3
				.header-action__search-form.search-form
					div.search-form__icon 
						+icon('search')
					input(placeholder="Искать курсы").search-form__input
					